@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Scrollbar zıplamasını engellemek için */
html {
   font-size: 24px;
  overflow-y: scroll;
  font-size: 16px; /* Baz boyutu belirledik */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Arial'ı sildik, Geist fontunun aktif olması için sans-serif kullandık */
  font-family: var(--font-sans), sans-serif; 
  font-size: 1.125rem; /* 16px -> 18px yaptık (Daha büyük ve modern) */
  line-height: 1.7;    /* Satır arasını açtık, okumayı kolaylaştırdık */
  font-weight: 400;
}